---
import Layout from '../layouts/main.astro';
import { Image } from 'astro:assets';
import fg from 'fast-glob';

let base = import.meta.env.PROD
  ? 'https://gergus.no/'
  : 'http://localhost:3000';

const imgs: string[] = [];
const dirs: string[] = fg.sync('public/images/**', {
  onlyDirectories: true,
});
for (const dir in dirs) {
  const jpg: string[] = fg.sync(dirs[dir] + '/*.jpg');
  const png: string[] = fg.sync(dirs[dir] + '/*.png');
  const web: string[] = fg.sync(dirs[dir] + '/*.webp');
  imgs.push(...jpg, ...png, ...web);
}

for (const img in imgs) {
  imgs[img] = '/' + imgs[img].substr(imgs[img].indexOf('/') + 1);
}

const imgs1 = [];
const imgs2 = [];
const imgs3 = [];

let i = 0;
while (true) {
  if (i >= imgs.length) break;
  imgs1.push(imgs[i++]);
  if (i >= imgs.length) break;
  imgs2.push(imgs[i++]);
  if (i >= imgs.length) break;
  imgs3.push(imgs[i++]);
}
---

<Layout>
  <div class='sm:flex m-auto'>
    <div class='flex-col mr-3'>
      {
        imgs1.map((img) => (
          <a href={base + img}>
            <Image
              class='mb-3  border-accent hover:border-[1px]'
              src={img}
              alt={img}
              width='3000'
              height='200'
            />
          </a>
        ))
      }
    </div>
    <div class='flex-col mr-3'>
      {
        imgs2.map((img) => (
          <a href={base + img}>
            <Image
              class='mb-3  border-accent hover:border-[1px]'
              src={img}
              alt={img}
              width='3000'
              height='200'
            />
          </a>
        ))
      }
    </div>
    <div class='flex-col'>
      {
        imgs3.map((img) => (
          <a href={base + img}>
            <Image
              class='mb-3 border-accent hover:border-[1px]'
              src={img}
              alt={img}
              width='3000'
              height='200'
            />
          </a>
        ))
      }
    </div>
  </div>
</Layout>
